h1 {
    text-shadow: 1px 1px 2px pink;
}

#page {
    text-align: center;
    min-width: 720px;
    margin: 10px auto 10px auto;
    padding: 20px;
    border: 4px double #000;
    background-color: #2a2a2a;
}

body {
    margin: 25px;
    color: white;
    background-color: #3a3a3a;
    font-family: roboto;
    background-image: url("../images/bg-pic.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
}

#navbar {
    justify-content: center;
    display: flex;
    width: 100%;
    padding: 5px;
}

ul {
    justify-content: center;
    display: flex;
    border-top: 2px solid black;
    border-bottom: 4px solid black;
    width: auto;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;

}

li {
    text-align: center;
    float: left;
}

li a {
    text-decoration: none;
    font-size: small;
    color: white;
    display: block;
    padding: 14px 25px;
    text-transform: uppercase;
    font-family: roboto;
}

li a:hover {
    color: #c06161;
    cursor: pointer;
    transform: scale(103%);
    transition: all 0.2s ease-in-out 0s;
}

.active {
    background-color: #5a5a5a;
    color: white;
}